<section class="rings">
  <header>
    <h1><%= link_to do %>
      <%= image_tag "rings/logo.png" ,alt: "Rings' Garden" %>
        <% end %>
    </h1>
    <nav>
      <ul>
        <li><%= link_to "ホーム" ,"#" %></li>
        <li><%= link_to "ご利用案内" ,"#" %></li>
        <li><%= link_to "キャスト紹介" ,"#" %></li>
        <li><%= link_to "お問い合わせ" ,"#" %></li>
        <li><%= link_to "交通アクセス" ,"#" %></li>
      </ul>
    </nav>
  </header>
  <section class="home">
    <main>
      <div class="visual">
        <p class="catch">猫と癒やしの空間</p>
        <p>時間がゆっりくり流れる都会のオアシス</p>
      </div>
      <div class="inner">
        <section>
          <div>
            <h2>自由に暮らす猫たちとのんびり暮らす</h2>
            <p>
              JR仙台駅から徒歩7分、楽しみながらくつろげる猫カフェ「Ring's Garden」。<br>
              個性豊かなかわいい猫ちゃんたちが、自然体で自由にのんびり過ごしています。<br>
              おひとり様やカップル、ご友人、お子様連れの方など大歓迎です！多種多様な猫ちゃんがご来店をお待ちしています。
            </p>
          </div>
          <p>
            <%= image_tag "rings/top01.jpg" %>
          </p>
        </section>
        <section>
          <div>
            <h2>時間帯によって違う表情が見られます</h2>
            <p>
              猫ちゃんは1日を通してさまざまな表情があります。
              元気に遊びまわる時間帯は、開店直後から午後2時あたりまでです。その後、ゆったりとお昼寝をします。ディナータイムは夜6時。このあたりから、また元気に遊びはじめます。
            </p>
          </div>
          <p>
            <%= image_tag "rings/top02.jpg" %>
          </p>
        </section>
      </div>
    </main>
  </section>
  <section class="guide">
    <main>
      <div class="title">
        <h1>ご利用案内</h1>
        <ol>
          <li>
            <%= link_to "ホーム","#" %>
          </li>
          <li>
            <%= link_to "ご利用案内","#" %>
          </li>
        </ol>
      </div>
      <div class="inner">
        <%= image_tag "rings/guide.jpg" %>
        <div class="about">
          <div>
            <h2>営業時間</h2>
            <dl>
              <dt>平日</dt><dd>11：30〜19：00（最終受付18：30）</dd>
              <dt>土日祝</dt><dd>10：30〜19：00（最終受付18：30）</dd>
              <dt>定休日</dt><dd>毎週火曜日</dd>
            </dl>
            <p>※臨時休業日はホームページで随時お知らせします。</p>
          </div>
          <div>
            <h2>料金表</h2>
            <table>
              <th></th><th>30分コース</th><th>60分コース</th>
              <tr>
                <th rowspan="2">平日</th>
                <td>550円</td>
                <td>1000円</td>
              </tr>
              <tr><td colspan="2">延長料金 15分ごとにプラス200円</td>
              </tr>
              <tr>
                <th rowspan="2">土日祝日</th>
                <td>600円</td>
                <td>1100円</td>
              </tr>
              <tr><td colspan="2">延長料金 15分ごとにプラス300円</td>
              </tr>
            </table>
          </div>
        </div>
        <h2>お店からのお願い</h2>
        <ul>
          <li>ご入場の前に、入り口の手洗い場で手をハンドソープで洗ってからアルコール消毒していただきます</li>
          <li>店内は禁煙となっております。</li>
          <li>猫を無理やり抱っこしたり、寝ている猫を起こすなどの猫が嫌がる行為はご遠慮ください。</li>
          <li>写真撮影はOKです。その際、フラッシュを消して撮影するようにお願いいたします。</li>
        </ul>
      </div>
    </main>
  </section>
  <section class="cast">
   <main>
     <div class="title">
       <h1>キャスト紹介</h1>
       <ol>
         <li>
           <%= link_to "ホーム","#" %>
         </li>
         <li>
           <%= link_to "キャスト紹介","#" %>
         </li>
       </ol>
     </div>
     <div class="inner">
       <p>当店の猫スタッフを紹介します。<br>
         この他にも、たくさんの猫がお客様のお越しをお待ちしています！ぜひ会いに来てください。</p>
       <div class="profile">
         <p><%= image_tag "rings/cast01.jpg" %></p>
         <dl>
           <dt>名前</dt><dd>OG3（オジサン）</dd>
           <dt>性別</dt><dd>男の子</dd>
           <dt>種類</dt><dd>アメリカンカール</dd>
           <dt>性格など</dt><dd>おおらかなみんなのお父さん<br>
           鮭のおにぎりが大好物</dd>
         </dl>
       </div>
       <div class="profile">
         <p><%= image_tag "rings/cast02.jpg" %></p>
         <dl>
           <dt>名前</dt><dd>もっち太郎</dd>
           <dt>性別</dt><dd>男の子</dd>
           <dt>種類</dt><dd>セルカークレックス</dd>
           <dt>性格など</dt>
           <dd>
             運動神経抜群！アジリティーがとっても大好き
             甘えん坊さんでナデナデが好き！<br>
           </dd>
         </dl>
       </div>
       <div class="profile">
         <p><%= image_tag "rings/cast03.jpg" %></p>
         <dl>
           <dt>名前</dt><dd>シェリー</dd>
           <dt>性別</dt><dd>女の子</dd>
           <dt>種類</dt><dd>メインクーン</dd>
           <dt>性格など</dt> <dd>
           クールビューティー1番の美人さんです
           私がキレイなのは当たり前なお姉様<br>
         </dd>
         </dl>
       </div>
       <div class="profile">
         <p><%= image_tag "rings/cast04.jpg" %></p>
         <dl>
           <dt>名前</dt><dd>ミルク</dd>
           <dt>性別</dt><dd>男の子</dd>
           <dt>種類</dt><dd>ミヌエット</dd>
           <dt>性格など</dt><dd>天然男子です<br>
           少しぬけているところもあるけれど、そこがかわいいポイント！</dd>
         </dl>
       </div>
     </div>
   </main>
  </section>
  <section class="contact">
    <main>
      <div class="title">
        <h1>お問い合わせ</h1>
        <ol>
          <li>
            <%= link_to "ホーム","#" %>
          </li>
          <li>
            <%= link_to "お問い合わせ","#" %>
          </li>
        </ol>
      </div>
      <div class="inner">
        <p><span class="must">＊</span>は必ず入力が必要な項目です。</p>
        <form action="" method="post">
          <dl>
            <dt>お名前<span class="must">＊</span>
              <dd><input type="text" name="name" required placeholder="田中太郎"></dd>
            </dt>
            <dt>ふりがな<span class="must">＊</span>
            <dd><input type="text" name="kana" required placeholder="タナカタロウ"></dd></dt>
            <dt>メールアドレス<span class="must">＊</span><dd><input type="text" name="email" required placeholder="taro@example.com"></dd></dt>
            <dt>お問い合わせ
            <dd><textarea name="contact" cols="20" rows="5"></textarea></dd><dt>
          </dl>
          <p class="submit"><input type="submit" name="submit" value="送信する"></p>
        </form>
      </div>
    </main>
  </section>
  <section class="access">
    <main>
      <div class="title">
        <h1>交通アクセス</h1>
        <ol>
          <li>
            <%= link_to "ホーム","#" %>
          </li>
          <li>
            <%= link_to "交通アクセス","#" %>
          </li>
        </ol>
      </div>
      <div class="inner">
        <dl>
          <dt>所在地</dt><dd>〒980-0014 宮城県仙台市青葉区本町2-11-20</dd>
          <dt>アクセス</dt><dd>JR「仙台駅」下車徒歩7分（仙台駅地下街北六番出口より徒歩4分）<br>
          仙台市営地下鉄「広瀬通駅」下車徒歩3分</dd>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3132.584669245026!2d140.87371671533177!3d38.26593767967294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f8a2825d0aa0d27%3A0xaec2fec2c01b1661!2z44CSOTgwLTAwMTQg5a6u5Z-O55yM5LuZ5Y-w5biC6Z2S6JGJ5Yy65pys55S677yS5LiB55uu77yR77yR4oiS77yS77yQ!5e0!3m2!1sja!2sjp!4v1525573596029" width="990" height="600" frameborder="0" style="border:0" allowfullscreen frameborder="0"></iframe>
        </dl>
      </div>
    </main>
  </section>
  <section class="sitemap">
    <main>
      <div class="title">
        <h1>サイトマップ</h1>
        <ol>
          <li>
            <%= link_to "ホーム","#" %>
          </li>
          <li>
            <%= link_to "サイトマップ","#" %>
          </li>
        </ol>
      </div>
      <div class="inner">
        <ul>
          <li>
            <%= link_to "ホーム","#" %>
          </li>
          <li>
            <%= link_to "ご利用案内","#" %>
          </li>
          <li>
            <%= link_to "キャスト紹介","#" %>
          </li>
          <li>
            <%= link_to "交通アクセス","#" %>
          </li>
          <li>
            <%= link_to "サイトマップ","#" %>
          </li>
          <li>
            <%= link_to "プライバシーポリシー","#" %>
          </li>
        </ul>
      </div>
    </main>
  </section>
  <section class="sitemap">
    <main>
      <div class="title">
        <h1>プライバシーポリシー</h1>
        <ol>
          <li>
            <%= link_to "ホーム","#" %>
          </li>
          <li>
            <%= link_to "プライバシーポリシー","#" %>
          </li>
        </ol>
      </div>
      <div class="inner">
        <h2>プライバシー</h2>
        <p>私たちRing's Garden（以下私たち）は、お客様からご提供いただきました氏名、電話番号、メールアドレスその他プライバシーに関すること<br>（以下個人情報と言います）を「個人情報の保護の原則」に則り慎重に取り扱い、プライバシーの保護に努めています。</p>
        <dl>
          <dt>個人情報利用の目的</dt>
          <dd>
            お客様からご提供いただく個人情報は、業務上の目的にのみ利用するもので、お客様から同意をいただかない限り、この目的以外に利用することはありません。
          </dd>
          <dt>第三者への提供</dt>
          <dd>
            お客様からご提供いただきました個人情報は、第三者に提供いたしません。尚、法的な命令等により個人情報の開示が要求された場合は、この限りではありません。
          </dd>
          <dt>個人情報の管理</dt>
          <dd>
            お客様からご提供いただきました個人情報は、第三者に提供いたしません。尚、法的な命令等により個人情報の開示が要求された場合は、この限りではありません。
          </dd>
          <dt>変更及び告知</dt>
          <dd>
            プライバシーポリシーの内容は、必要に応じて変更することがあります。内容に関しては、お客様へその都度ご連絡はいたしかねますので、ご利用の際には本ページの最新の内容をご参照ください。
          </dd>
          <dt>お問い合わせ</dt>
          <dd>
            お客様ご自身の個人情報やこのページの内容に関するお問合せ・苦情は、こちらで受付けいたします。<br>
            Ring's Garden　TEL:012-345-6789<br>
            メールでのお問合せは<%= link_to "メールフォーム","#" %>をご使用ください。
          </dd>
        </dl>
      </div>
    </main>
  </section>
  <footer>
    <ul>
      <li>
        <%= link_to "アクセスマップ","#" %>
      </li>
      <li>
        <%= link_to "プライバシーポリシー","#" %>
      </li>
    </ul>
    <p><small>&copy; 2019 Ring’s Garden.</small></p>
  </footer>
</section>

<!--<section class="rings">-->
<!--  <header>-->
<!--    <h1>-->
      <%#= link_to do %>
      <%#= image_tag "rings/logo.png",alt: "Ring' Garden" %>
      <%# end  %>
<!--    </h1>-->
<!--  <nav>-->
<!--    <ul>-->
<!--      <li><%#= link_to "ホーム","#" %></li>-->
<!--      <li><%#= link_to "ご利用案内","#" %></li>-->
<!--      <li><%#= link_to "キャスト紹介","#" %></li>-->
<!--      <li><%#= link_to "お問い合わせ","#" %></li>-->
<!--      <li><%#= link_to "交通アクセス","#" %></li>-->
<!--    </ul>-->
<!--  </nav>-->
<!--  </header>-->
<!--  <section class="sitemap">-->
<!--    <main>-->
<!--      <div class="title">-->
<!--        <h1>サイトマップ</h1>-->
<!--        <ol>-->
<!--          <li><%#= link_to "ホーム","#" %></li>-->
<!--          <li>サイトマップ</li>-->
<!--        </ol>-->
<!--      </div>-->
<!--      <div class="inner">-->
<!--        <ul>-->
<!--          <li><%#= link_to "ホーム","#" %></li>-->
<!--          <li><%#= link_to "ご利用案内","#" %></li>-->
<!--          <li><%#= link_to "キャスト紹介","#" %></li>-->
<!--          <li><%#= link_to "お問い合わせ","#" %></li>-->
<!--          <li><%#= link_to "交通アクセス","#" %></li>-->
<!--          <li><%#= link_to "プライバシーポリシー","#" %></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </main>-->
<!--  </section>-->
<!--  <section>-->
<!--    <main>-->
<!--      <div class="title">-->
<!--        <h1>交通アクセス</h1>-->
<!--        <ol>-->
<!--          <li><%#= link_to "ホーム","#" %></li>-->
<!--          <li>交通アクセス</li>-->
<!--        </ol>-->
<!--      </div>-->
<!--      <div class="inner">-->
<!--        <dl>-->
<!--          <dt>所在地</dt>-->
<!--          <dd>〒980-0014 宮城県仙台市青葉区本町2-11-20</dd>-->
<!--          <dt>アクセス</dt>-->
<!--          <dd>JR「仙台駅」下車徒歩7分（仙台駅地下街北六番出口より徒歩4分）<br>仙台市営地下鉄「広瀬通駅」下車徒歩3分</dd>-->
<!--          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3132.584669245026!2d140.87371671533177!3d38.26593767967294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f8a2825d0aa0d27%3A0xaec2fec2c01b1661!2z44CSOTgwLTAwMTQg5a6u5Z-O55yM5LuZ5Y-w5biC6Z2S6JGJ5Yy65pys55S677yS5LiB55uu77yR77yR4oiS77yS77yQ!5e0!3m2!1sja!2sjp!4v1525573596029" width="990" height="600" frameborder="0" style="border:0" allowfullscreen frameborder="0"></iframe>-->
<!--        </dl>-->
<!--      </div>-->
<!--    </main>-->
<!--  </section>-->
<!--  <section class="cast">-->
<!--    <main>-->
<!--      <div class="title">-->
<!--        <h1>キャスト紹介</h1>-->
<!--        <ol>-->
<!--          <li><%#= link_to "ホーム","#" %></li>-->
<!--          <li>キャスト紹介</li>-->
<!--        </ol>-->
<!--      </div>-->
<!--      <div class="inner">-->
<!--        <p>-->
<!--          当店の猫スタッフを紹介します。<br>-->
<!--          この他にも、たくさんの猫がお客様のお越しをお待ちしています！ぜひ会いに来てください。-->
<!--        </p>-->
<!--        <div class="cast-profile">-->
<!--          <p>-->
            <%#= image_tag "rings/cast01.jpg" %>
<!--          </p>-->
<!--          <dl>-->
<!--            <dt>名前</dt><dd>おじさん</dd>-->
<!--            <dt>性別</dt><dd>男の子</dd>-->
<!--            <dt>種類</dt><dd>アメリカンカール</dd>-->
<!--            <dt>性格など</dt><dd>おおらかなみんなのお父さん<br>-->
<!--          鮭のおにぎりが大好物</dd>-->
<!--          </dl>-->
<!--        </div>-->
<!--        <div class="cast-profile">-->
<!--          <p>-->
            <%#= image_tag "rings/cast02.jpg" %>
<!--          </p>-->
<!--          <dl>-->
<!--            <dt>名前</dt><dd>チッチ太郎</dd>-->
<!--            <dt>性別</dt><dd>男の子</dd>-->
<!--            <dt>種類</dt><dd>セルカークレックス</dd>-->
<!--            <dt>性格など</dt><dd>運動神経抜群！アジリティーがとっても大好き-->
<!--            <br>甘えん坊さんでナデナデが好き！</dd>-->
<!--          </dl>-->
<!--        </div>-->
<!--        <div class="cast-profile">-->
<!--          <p>-->
            <%#= image_tag "rings/cast03.jpg" %>
<!--          </p>-->
<!--          <dl>-->
<!--            <dt>名前</dt><dd>シェリー</dd>-->
<!--            <dt>性別</dt><dd>女の子</dd>-->
<!--            <dt>種類</dt><dd>メインクーン</dd>-->
<!--            <dt>性格など</dt><dd>クールビューティー1番の美人さんです-->
<!--            <br>私がキレイなのは当たり前なお姉様</dd>-->
<!--          </dl>-->
<!--        </div>-->
<!--        <div class="cast-profile">-->
<!--          <p>-->
            <%#= image_tag "rings/cast04.jpg" %>
<!--          </p>-->
<!--          <dl>-->
<!--            <dt>名前</dt><dd>みるく</dd>-->
<!--            <dt>性別</dt><dd>男の子</dd>-->
<!--            <dt>種類</dt><dd>アメリカンカール</dd>-->
<!--            <dt>性格など</dt><dd>天然男子です-->
<!--            <br>少しぬけているところもあるけれど、そこがかわいいポイント！</dd>-->
<!--          </dl>-->
<!--        </div>-->
<!--      </div>-->
<!--    </main>-->
<!--  </section>-->
<!--  <section class="guide">-->
<!--    <main>-->
<!--      <div class="title">-->
<!--        <h1>ご利用案内</h1>-->
<!--        <ol>-->
<!--          <li><%#= link_to "ホーム","#" %></li>-->
<!--          <li>ご利用案内</li>-->
<!--        </ol>-->
<!--      </div>-->
<!--      <div class="inner">-->
        <%#= image_tag "rings/guide.jpg" %>
<!--        <div class="about">-->
<!--          <div>-->
<!--            <h2>営業時間</h2>-->
<!--            <dl>-->
<!--              <dt>平日</dt><dd>11：30〜19：00（最終受付18：30）</dd>-->
<!--              <dt>土日祝</dt><dd>10：30〜19：00（最終受付18：30）</dd>-->
<!--              <dt>定休日</dt><dd>毎週火曜日</dd>-->
<!--            </dl>-->
<!--            <p>※臨時休業日はホームページで随時お知らせします。</p>-->
<!--          </div>-->
<!--          <div>-->
<!--            <h2>料金表</h2>-->
<!--            <table>-->
<!--              <tr><th></th><th>30分コース</th><th>60分コース</th></tr>-->
<!--              <tr><th rowspan="2">平日</th>-->
<!--                <td>550円</td>-->
<!--                <td>1000円</td></tr>-->
<!--              <tr><td colspan="2">延長料金 15分ごとにプラス200円</td></tr>-->
<!--              <tr><th rowspan="2">土日祝</th>-->
<!--                <td>600円</td>-->
<!--                <td>1100円</td></tr>-->
<!--              <tr><td colspan="2">延長料金 15分ごとにプラス300円</td></tr>-->
<!--            </table>-->
<!--          </div>-->
<!--        </div>-->
<!--        <h2>お店からのお願い</h2>-->
<!--        <ul>-->
<!--          <li>ご入場の前に、入り口の手洗い場で手をハンドソープで洗ってからアルコール消毒していただきます</li>-->
<!--          <li>店内は禁煙となっております</li>-->
<!--          <li>猫を無理やり抱っこしたり、寝ている猫を起こすなどの猫が嫌がる行為はご遠慮ください</li>-->
<!--          <li>写真撮影はOKです。その際、フラッシュを消して撮影するようにお願いいたします</li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </main>-->
<!--  </section>-->
<!--  <section class="home">-->
<!--    <main>-->
<!--      <div class="visual">-->
<!--        <p class="catch">猫と癒やしの空間</p>-->
<!--        <p>時間がゆっくり流れる都会のオアシス</p>-->
<!--      </div>-->
<!--      <div class="inner">-->
<!--        <section>-->
<!--          <div>-->
<!--            <h2>自由に暮らす猫たちとのんびり過ごす</h2>-->
<!--            <p>JR仙台駅から徒歩7分、楽しみながらくつろげる猫カフェ「Ring's Garden」。<br>-->
<!--              個性豊かなかわいい猫ちゃんたちが、自然体で自由にのんびり過ごしています。<br>-->
<!--              おひとり様やカップル、ご友人、お子様連れの方など大歓迎です！多種多様な猫ちゃんがご来店をお待ちしています。</p>-->
<!--          </div>-->
<!--          <p><%#= image_tag "rings/top01.jpg" %></p>-->
<!--        </section>-->
<!--        <section>-->
<!--          <div>-->
<!--            <h2>自由に暮らす猫たちとのんびり過ごす</h2>-->
<!--            <p>JR仙台駅から徒歩7分、楽しみながらくつろげる猫カフェ「Ring's Garden」。<br>-->
<!--              個性豊かなかわいい猫ちゃんたちが、自然体で自由にのんびり過ごしています。<br>-->
<!--              おひとり様やカップル、ご友人、お子様連れの方など大歓迎です！多種多様な猫ちゃんがご来店をお待ちしています。</p>-->
<!--          </div>-->
<!--          <p><%#= image_tag "rings/top02.jpg" %></p>-->
<!--        </section>-->
<!--        <h2>お知らせ</h2>-->
<!--        <dl>-->
<!--          <dt>2019/05/20</dt><dd>5月30日はシェリーちゃん5歳の誕生日です！ぜひ会いに来てくださいね</dd>-->
<!--          <dt>2019/05/08</dt><dd>ゴールデンウィーク期間中の営業時間は11時〜19時です</dd>-->
<!--          <dt>2019/04/28</dt><dd>-->
          <%#= link_to "#" do %>
<!--          新しい仲間が加わりました！詳しくはキャスト紹介を見てね-->
          <%# end %>
<!--        </dd>-->
<!--        </dl>-->
<!--      </div>-->
<!--    </main>-->
<!--  </section>-->
<!--  <section class="sitemap">-->
<!--    <main>-->
<!--      <div class="title">-->
<!--        <h1>サイトマップ</h1>-->
<!--        <ol>-->
<!--          <li><%#= link_to "ホーム","#" %></li>-->
<!--          <li>サイトマップ</li>-->
<!--        </ol>-->
<!--      </div>-->
<!--      <div class="inner">-->
<!--        <h2>プライバシー</h2>-->
<!--        <p>私たちRing's Garden（以下私たち）は、お客様からご提供いただきました氏名、電話番号、メールアドレスその他プライバシーに関すること（以下個人情報と言います）を「個人情報の保護の原則」に則り慎重に取り扱い、プライバシーの保護に努めています。</p>-->
<!--        <dl>-->
<!--          <dt>個人情報の利用目的</dt>-->
<!--          <dd>お客様からご提供いただく個人情報は、業務上の目的にのみ利用するもので、お客様から同意をいただかない限り、この目的以外に利用することはありません。</dd>-->
<!--          <dt>第三者への提供</dt>-->
<!--          <dd>お客様からご提供いただく個人情報は、業務上の目的にのみ利用するもので、お客様から同意をいただかない限り、この目的以外に利用することはありません。</dd>-->
<!--          <dt>個人情報の管理</dt>-->
<!--          <dd>お客様からご提供いただく個人情報は、業務上の目的にのみ利用するもので、お客様から同意をいただかない限り、この目的以外に利用することはありません。</dd>-->
<!--          <dt>変更及び告知</dt>-->
<!--          <dd>お客様からご提供いただく個人情報は、業務上の目的にのみ利用するもので、お客様から同意をいただかない限り、この目的以外に利用することはありません。</dd>-->
<!--          <dt>お問い合わせ</dt>-->
<!--          <dd>お客様からご提供いただく個人情報は、業務上の目的にのみ利用するもので、お客様から同意をいただかない限り、この目的以外に利用することはありません。-->
<!--          <br>メールでのお問い合わせは<%#= link_to "#" do %>-->
<!--            メールーフォーム-->
<!--              <%# end %>でお願いします</dd>-->
<!--        </dl>-->
<!--        <h2>免責事項</h2>-->
<!--        <p>私たちRing's Garden（以下私たち）は、お客様からご提供いただきました氏名、電話番号、メールアドレスその他プライバシーに関すること（以下個人情報と言います）を「個人情報の保護の原則」に則り慎重に取り扱い、プライバシーの保護に努めています。</p>-->
<!--        <dl>-->
<!--          <dt>個人情報の利用目的</dt>-->
<!--          <dd>お客様からご提供いただく個人情報は、業務上の目的にのみ利用するもので、お客様から同意をいただかない限り、この目的以外に利用することはありません。</dd>-->
<!--          <dt>第三者への提供</dt>-->
<!--          <dd>お客様からご提供いただく個人情報は、業務上の目的にのみ利用するもので、お客様から同意をいただかない限り、この目的以外に利用することはありません。</dd>-->
<!--          <dt>個人情報の管理</dt>-->
<!--          <dd>お客様からご提供いただく個人情報は、業務上の目的にのみ利用するもので、お客様から同意をいただかない限り、この目的以外に利用することはありません。</dd>-->
<!--          <dt>変更及び告知</dt>-->
<!--          <dd>お客様からご提供いただく個人情報は、業務上の目的にのみ利用するもので、お客様から同意をいただかない限り、この目的以外に利用することはありません。</dd>-->
<!--          <dt>お問い合わせ</dt>-->
<!--          <dd>お客様からご提供いただく個人情報は、業務上の目的にのみ利用するもので、お客様から同意をいただかない限り、この目的以外に利用することはありません。-->
<!--            <br>メールでのお問い合わせは<%#= link_to "#" do %>-->
<!--              メールーフォーム-->
<!--            <%# end %>でお願いします</dd>-->
<!--        </dl>-->
<!--      </div>-->
<!--    </main>-->
<!--  </section>-->
<!--  <section class="contact">-->
<!--    <main>-->
<!--      <div class="title">-->
<!--        <h1>お問い合わせ</h1>-->
<!--        <ol>-->
<!--          <li><%#= link_to "ホーム","#" %></li>-->
<!--          <li>お問い合わせ</li>-->
<!--        </ol>-->
<!--      </div>-->
<!--      <div class="inner">-->
<!--        <p><span class="must">*</span>は必ず必要な入力項目です。</p>-->
<!--        <form action="#" method="post">-->
<!--          <dl>-->
<!--            <dt>お名前<span class="must">*</span></dt>-->
<!--            <dd><input type="text" name="name" required placeholder="田中太郎"></dd>-->
<!--            <dt>ふりがな<span class="must">*</span></dt>-->
<!--            <dd><input type="text" name="kana" required placeholder="タナカタロウ"></dd>-->
<!--            <dt>メールアドレス<span class="must">*</span></dt>-->
<!--            <dd><input type="text" name="email"></dd>-->
<!--            <dt>お問い合わせ</dt>-->
<!--            <dd><textarea type="text" cols="20" rows="5" name="contact">-->
<!--            </textarea></dd>-->
<!--          </dl>-->
<!--          <p class="submit"><input type="submit" value="送信する" name="submit"></p>-->
<!--        </form>-->
<!--      </div>-->
<!--    </main>-->
<!--  </section>-->
<!--  <footer>-->
<!--    <ul>-->
<!--      <li><%#= link_to "サイトマップ","#" %></li>-->
<!--      <li><%#= link_to "プライバシーポリシー","#" %></li>-->
<!--    </ul>-->
<!--    <p><small>&copy; 2019 Ring’s Garden.</small></p>-->
<!--  </footer>-->
<!--</section>-->
<!--<section class="rings">-->
<!--<header>-->
<!--  <h1><%#= link_to  do %>-->
      <%#= image_tag "rings/logo.png",alt: "Ring's Garden" %>
<!--      <%# end %></h1>-->
<!--  <nav>-->
<!--    <ul>-->
<!--      <li><a href="index.html">ホーム</a></li>-->
<!--      <li><a href="guide.html">ご利用案内</a></li>-->
<!--      <li><a href="cast.html">キャスト紹介</a></li>-->
<!--      <li><a href="contact.html">お問い合わせ</a></li>-->
<!--      <li><a href="access.html">交通アクセス</a></li>-->
<!--    </ul>-->
<!--  </nav>-->
<!--</header>-->
<!--<section class="sitemap">-->
<!--  <main>-->
<!--    <div class="title">-->
<!--      <h1>サイトマップ</h1>-->
<!--      <ol>-->
<!--        <li><a href="index.html">ホーム</a></li>-->
<!--        <li>サイトマップ</li>-->
<!--      </ol>-->
<!--    </div>-->
<!--    <div class="inner">-->
<!--      <ul>-->
<!--        <li><a href="index.html">ホーム</a></li>-->
<!--        <li><a href="guide.html">ご利用案内</a></li>-->
<!--        <li><a href="cast.html">キャスト紹介</a></li>-->
<!--        <li><a href="contact.html">お問い合わせ</a></li>-->
<!--        <li><a href="access.html">交通アクセス</a></li>-->
<!--        <li><a href="sitemap.html">サイトマップ</a></li>-->
<!--        <li><a href="privacypolicy.html">プライバシーポリシー</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </main>-->
<!--</section>-->
<!--  <main>-->
<!--    <div class="title">-->
<!--      <h1>交通アクセス</h1>-->
<!--      <ol>-->
<!--        <li><a href="index.html">ホーム</a></li>-->
<!--        <li>交通アクセス</li>-->
<!--      </ol>-->
<!--    </div>-->
<!--    <div class="inner">-->
<!--      <dl>-->
<!--        <dt>所在地</dt>-->
<!--        <dd>〒980-0014 宮城県仙台市青葉区本町2-11-20</dd>-->
<!--        <dt>アクセス</dt>-->
<!--        <dd>JR「仙台駅」下車徒歩7分（仙台駅地下街北六番出口より徒歩4分）<br>仙台市営地下鉄「広瀬通駅」下車徒歩3分</dd>-->
<!--      </dl>-->
<!--      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3132.584669245026!2d140.87371671533177!3d38.26593767967294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f8a2825d0aa0d27%3A0xaec2fec2c01b1661!2z44CSOTgwLTAwMTQg5a6u5Z-O55yM5LuZ5Y-w5biC6Z2S6JGJ5Yy65pys55S677yS5LiB55uu77yR77yR4oiS77yS77yQ!5e0!3m2!1sja!2sjp!4v1525573596029" https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3132.584669245026!2d140.87371671533177!3d38.26593767967294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f8a2825d0aa0d27%3A0xaec2fec2c01b1661!2z44CSOTgwLTAwMTQg5a6u5Z-O55yM5LuZ5Y-w5biC6Z2S6JGJ5Yy65pys55S677yS5LiB55uu77yR77yR4oiS77yS77yQ!5e0!3m2!1sja!2sjp!4v1525573596029" width="990></iframe>-->
<!--    </div>-->
<!--  </main>-->
<!--  <section class="cast">-->
<!--    <main>-->
<!--      <div class="title">-->
<!--        <h1>キャスト紹介</h1>-->
<!--        <ol>-->
<!--          <li><a href="index.html">ホーム</a></li>-->
<!--          <li>キャスト紹介</li>-->
<!--        </ol>-->
<!--      </div>-->
<!--      <div class="inner">-->
<!--        <p>当店の猫スタッフを紹介します。<br>-->
<!--          この他にも、たくさんの猫がお客様のお越しをお待ちしています！ぜひ会いに来てください。</p>-->
<!--        <div class="cast-profile">-->
<!--          <p><img src="images/cast01.jpg" alt="OG3"></p>-->
<!--          <dl>-->
<!--            <dt>名前</dt><dd>OG3（オジサン）</dd>-->
<!--            <dt>性別</dt><dd>男の子</dd>-->
<!--            <dt>種類</dt><dd>アメリカンカール</dd>-->
<!--            <dt>性格など</dt><dd>おおらかなみんなのお父さん<br>鮭のおにぎりが大好物</dd>-->
<!--          </dl>-->
<!--        </div>-->
<!--        <div class="cast-profile">-->
<!--          <p><img src="images/cast02.jpg" alt="ちっち太郎"></p>-->
<!--          <dl>-->
<!--            <dt>名前</dt><dd>ちっち太郎</dd>-->
<!--            <dt>性別</dt><dd>男の子</dd>-->
<!--            <dt>種類</dt><dd>セルカークレックス</dd>-->
<!--            <dt>性格など</dt><dd>運動神経抜群！アジリティーがとっても大好き<br>甘えん坊さんでナデナデが好き！</dd>-->
<!--          </dl>-->
<!--        </div>-->
<!--        <div class="cast-profile">-->
<!--          <p><img src="images/cast03.jpg" alt="シェリー"></p>-->
<!--          <dl>-->
<!--            <dt>名前</dt><dd>シェリー</dd>-->
<!--            <dt>性別</dt><dd>女の子</dd>-->
<!--            <dt>種類</dt><dd>メインクーン</dd>-->
<!--            <dt>性格など</dt><dd>クールビューティー1番の美人さんです<br>私がキレイなのは当たり前なお姉様</dd>-->
<!--          </dl>-->
<!--        </div>-->
<!--        <div class="cast-profile">-->
<!--          <p><img src="images/cast04.jpg" alt="みるく"></p>-->
<!--          <dl>-->
<!--            <dt>名前</dt><dd>みるく</dd>-->
<!--            <dt>性別</dt><dd>男の子</dd>-->
<!--            <dt>種類</dt><dd>ミヌエット</dd>-->
<!--            <dt>性格など</dt><dd>天然男子です<br>少しぬけているところもあるけれど、そこがかわいいポイント！</dd>-->
<!--          </dl>-->
<!--        </div>-->
<!--      </div>-->
<!--    </main>-->
<!--  </section>-->
<!--  <section class="guide">-->
<!--    <main>-->
<!--      <div class="title">-->
<!--        <h1>ご利用案内</h1>-->
<!--        <ol>-->
<!--          <li><a href="index.html">ホーム</a></li>-->
<!--          <li>ご利用案内</li>-->
<!--        </ol>-->
<!--      </div>-->
<!--      <div class="inner">-->
<!--        <img src="images/guide.jpg" alt="おもちゃで遊ぶ猫ちゃん">-->
<!--        <div class="about">-->
<!--          <div>-->
<!--            <h2>営業時間</h2>-->
<!--            <dl>-->
<!--              <dt>平日</dt><dd>11：30〜19：00（最終受付18：30）</dd>-->
<!--              <dt>土日祝日</dt><dd>10：30〜19：00（最終受付18：30）</dd>-->
<!--              <dt>定休日</dt><dd>毎週火曜日</dd>-->
<!--            </dl>-->
<!--            <p>※臨時休業日はホームページで随時お知らせします。</p>-->
<!--          </div>-->
<!--          <div>-->
<!--            <h2>料金表</h2>-->
<!--            <table>-->
<!--              <tr><th></th><th>30分コース</th><th>60分コース</th></tr>-->
<!--              <tr><th rowspan="2">平日</th><td>550円</td><td>1,000円</td></tr>-->
<!--              <tr><td colspan="2">延長料金 15分ごとにプラス200円</td></tr>-->
<!--              <tr><th rowspan="2">土日祝日</th><td>600円</td><td>1,100円</td></tr>-->
<!--              <tr><td colspan="2">延長料金 15分ごとにプラス300円</td></tr>-->
<!--            </table>-->
<!--          </div>-->
<!--        </div>-->
<!--        <h2>お店からのお願い</h2>-->
<!--        <ul>-->
<!--          <li>ご入場の前に、入り口の手洗い場で手をハンドソープで洗ってからアルコール消毒していただきます。</li>-->
<!--          <li>店内は禁煙となっております。</li>-->
<!--          <li>猫を無理やり抱っこしたり、寝ている猫を起こすなどの猫が嫌がる行為はご遠慮ください。</li>-->
<!--          <li>写真撮影はOKです。その際、フラッシュを消して撮影するようにお願いいたします。</li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </main>-->
<!--  </section>-->
<!--  <section class="home">-->
<!--    <main>-->
<!--      <div class="visual">-->
<!--        <p class="catch">猫との癒しの空間</p>-->
<!--        <p>時間がゆっくり流れる都会のオアシス</p>-->
<!--      </div>-->
<!--      <div class="inner">-->
<!--        <section>-->
<!--          <div>-->
<!--            <h2>自由に暮らす猫たちとのんびり過ごす</h2>-->
<!--            <p>JR仙台駅から徒歩7分、楽しみながらくつろげる猫カフェ「Ring's Garden」。<br>-->
<!--              個性豊かなかわいい猫ちゃんたちが、自然体で自由にのんびり過ごしています。<br>-->
<!--              おひとり様やカップル、ご友人、お子様連れの方など大歓迎です！多種多様な猫ちゃんがご来店をお待ちしています。</p>-->
<!--          </div>-->
<!--          <p><img src="images/top01.jpg" alt="抱っこされる猫ちゃん"></p>-->
<!--        </section>-->
<!--        <section>-->
<!--          <div>-->
<!--            <h2>時間帯によって違う表情が見られます</h2>-->
<!--            <p>猫ちゃんは1日を通してさまざまな表情があります。<br>-->
<!--              元気に遊びまわる時間帯は、開店直後から午後2時あたりまでです。その後、ゆったりとお昼寝をします。ディナータイムは夜6時。このあたりから、また元気に遊びはじめます。</p>-->
<!--          </div>-->
<!--          <p><img src="images/top02.jpg" alt="猫ちゃんたち"></p>-->
<!--        </section>-->
<!--        <h2>お知らせ</h2>-->
<!--        <dl>-->
<!--          <dt>2019/05/20</dt><dd>5月30日はシェリーちゃん5歳の誕生日です！ぜひ会いに来てくださいね</dd>-->
<!--          <dt>2019/04/23</dt><dd>ゴールデンウィーク期間中の営業時間は11時〜19時です</dd>-->
<!--          <dt>2018/05/08</dt><dd><a href="cast.html">新しい仲間が加わりました！詳しくはキャスト紹介をご覧ください</a></dd>-->
<!--        </dl>-->
<!--      </div>-->
<!--    </main>-->
<!--  </section>-->
<!--  <section class="sitemap">-->
<!--    <main>-->
<!--      <div class="title">-->
<!--        <h1>プライバシーポリシー</h1>-->
<!--        <ol>-->
<!--          <li><a href="index.html">ホーム</a></li>-->
<!--          <li>プライバシーポリシー</li>-->
<!--        </ol>-->
<!--      </div>-->
<!--      <div class="inner">-->
<!--        <h2>プライバシー</h2>-->
<!--        <p>私たちRing's Garden（以下私たち）は、お客様からご提供いただきました氏名、電話番号、メールアドレスその他プライバシーに関すること（以下個人情報と言います）を「個人情報の保護の原則」に則り慎重に取り扱い、プライバシーの保護に努めています。</p>-->
<!--        <dl>-->
<!--          <dt>個人情報の利用目的</dt>-->
<!--          <dd>お客様からご提供いただく個人情報は、業務上の目的にのみ利用するもので、お客様から同意をいただかない限り、この目的以外に利用することはありません。</dd>-->
<!--          <dt>第三者への提供</dt>-->
<!--          <dd>お客様からご提供いただきました個人情報は、第三者に提供いたしません。尚、法的な命令等により個人情報の開示が要求された場合は、この限りではありません。</dd>-->
<!--          <dt>個人情報の管理</dt>-->
<!--          <dd>私たちは、お客様からご提供いただいた個人情報の漏洩及び流出を防止するため、適切な措置を講じております。</dd>-->
<!--          <dt>変更及び告知</dt>-->
<!--          <dd>プライバシーポリシーの内容は、必要に応じて変更することがあります。内容に関しては、お客様へその都度ご連絡はいたしかねますので、ご利用の際には本ページの最新の内容をご参照ください。</dd>-->
<!--          <dt>お問い合わせ</dt>-->
<!--          <dd>お客様ご自身の個人情報やこのページの内容に関するお問合せ・苦情は、こちらで受付けいたします。<br /> Ring's Garden　TEL:012-345-6789<br /> メールでのお問合せは<a href="contact.html">メールフォーム</a>をご使用ください。</dd>-->
<!--        </dl>-->
<!--        <h2>免責事項</h2>-->
<!--        <p>本webサイトに掲載する情報の正確性には充分注意を払っていますが、その内容について保証するものではありません。本webサイトの使用ならびに閲覧によって生じたいかなる損害にも責任を負いかねます。本webサイトのURLや情報は予告なく変更される場合があります。</p>-->
<!--        <dl>-->
<!--          <dt>著作権</dt>-->
<!--          <dd>本webサイトに掲載されている全てのコンテンツは、Ring's Gardenが所有しています。書面による許可なく、個人的な目的以外で使用することは禁止いたします。</dd>-->
<!--          <dt>リンクについて</dt>-->
<!--          <dd>リンクに関しましては原則的に自由ですが、リンクに関した問題発生や責任につきましてはRing's Gardenは一切負いませんのでご了承ください。</dd>-->
<!--        </dl>-->
<!--      </div>-->
<!--    </main>-->
<!--  </section>-->
<!--  <section class="contact">-->
<!--    <main>-->
<!--      <div class="title">-->
<!--        <h1>お問い合わせ</h1>-->
<!--        <ol>-->
<!--          <li><a href="index.html">ホーム</a></li>-->
<!--          <li>お問い合わせ</li>-->
<!--        </ol>-->
<!--      </div>-->
<!--      <div class="inner">-->
<!--        <p><span class="must">※</span>は必ず入力が必要な項目です。</p>-->
<!--        <form action="program.php" method="post">-->
<!--          <dl>-->
<!--            <dt>お名前<span class="must">※</span></dt>-->
<!--            <dd>-->
<!--              <input type="text" name="name" required placeholder="田中 太郎">-->
<!--            </dd>-->
<!--            <dt>ふりなが<span class="must">※</span></dt>-->
<!--            <dd>-->
<!--              <input type="text" name="kana" required placeholder="たなか たろう">-->
<!--            </dd>-->
<!--            <dt>メールアドレス<span class="must">※</span></dt>-->
<!--            <dd><input type="email" name="email" required placeholder="sample@test.com"></dd>-->
<!--            <dt>お問い合わせ・ご質問内容</dt>-->
<!--            <dd><textarea name="comment" cols="20" rows="5"></textarea></dd>-->
<!--          </dl>-->
<!--          <p class="submit"><input type="submit" name="submit" value="送信する"></p>-->
<!--        </form>-->
<!--      </div>-->
<!--    </main>-->
<!--  </section>-->
<!--  <footer>-->
<!--    <ul>-->
<!--      <li><a href="sitemap.html">サイトマップ</a></li>-->
<!--      <li><a href="privacypolicy.html">プライバシーポリシー</a></li>-->
<!--    </ul>-->
<!--    <p><small>&copy; 2019 Ring’s Garden.</small></p>-->
<!--  </footer>-->
<!--</section>-->