<div class="container">
 <div class="row">
   <div class="col-3">
     <%= link_to forms_user_1_path  do %>
       ユーザー登録フォーム
     <%end %>
   </div>
   <div class="col-3">
     <%= link_to top_1_path  do %>
       トップ画面１
     <%end %>
   </div>
   <div class="col-3">
     <%= link_to header_1_path  do %>
       ヘッダー１
     <%end %>
   </div>
   <div class="col-3">
     <%= link_to footer_1_path  do %>
       フッター１
     <%end %>
   </div>
   <div class="col-3">
     <%= link_to profile_1_path  do %>
       プロファイルページ１
     <%end %>
   </div>
   <div class="col-3">
     <%= link_to top_2_path  do %>
      トップページ2
     <%end %>
   </div>
   <div class="col-3">
     <%= link_to animation_index_path  do %>
       アニメーション
     <%end %>
   </div>
 </div>
</div>