<section class="bg-light u-content-space">
  <div class="container">
    <header class="text-center w-md-50 mx-auto mb-8">
      <h2 class="h1">Our Creative Folks</h2>
      <p class="h5">Our top professionals are ready to help with your business.</p>
    </header>

    <!-- Team Block -->
    <div class="row">
      <div class="col-lg-3 col-sm-6 mb-5">
        <!-- Team Block -->
        <figure>
          <%= image_tag "practice_bootstrap/images/900x700/img1.png",class:"w-100  rounded-top",style:"height: 200px"%>
          <!-- Figure Info -->
          <div class="u-box-shadow-sm bg-white text-center rounded p-4">
            <div class="mb-3">
              <h5 class="mb-1">Jane Rowe</h5>
              <small class="d-block font-style-normal text-uppercase text-primary u-letter-spacing-xs">Social Marketer</small>
            </div>
          </div>
          <!-- End Figure Info-->
        </figure>
        <!-- End Figure -->
      </div>

      <div class="col-lg-3 col-sm-6 mb-5">
        <!-- Team Block -->
        <figure>
          <%= image_tag "practice_bootstrap/images/900x700/img1.png",class:"w-100  rounded-top",style:"height: 200px"%>
          <!-- Figure Info -->
          <div class="u-box-shadow-sm bg-white text-center rounded p-4">
            <div class="mb-3">
              <h5 class="mb-1">Mark Krueger</h5>
              <small class="d-block font-style-normal text-uppercase text-primary u-letter-spacing-xs">Web Developer</small>
            </div>
          </div>
          <!-- End Figure Info-->
        </figure>
        <!-- End Figure -->
      </div>

      <div class="col-lg-3 col-sm-6 mb-5">
        <!-- Team Block -->
        <figure>
          <%= image_tag "practice_bootstrap/images/900x700/img1.png",class:"w-100  rounded-top",style:"height: 200px"%>
          <!-- Figure Info -->
          <div class="u-box-shadow-sm bg-white text-center rounded p-4">
            <div class="mb-3">
              <h5 class="mb-1">Emmely Case</h5>
              <small class="d-block font-style-normal text-uppercase text-primary u-letter-spacing-xs">UI/UX Designer</small>
            </div>
          </div>
          <!-- End Figure Info-->
        </figure>
        <!-- End Figure -->
      </div>

      <div class="col-lg-3 col-sm-6 mb-5">
        <!-- Team Block -->
        <figure>
          <%= image_tag "practice_bootstrap/images/900x700/img1.png",class:"w-100  rounded-top",style:"height: 200px"%>
          <!-- Figure Info -->
          <div class="u-box-shadow-sm bg-white text-center rounded p-4">
            <div class="mb-3">
              <h5 class="mb-1">David Lisbon</h5>
              <small class="d-block font-style-normal text-uppercase text-primary u-letter-spacing-xs">Support Manager</small>
            </div>
          </div>
          <!-- End Figure Info-->
        </figure>
        <!-- End Figure -->
      </div>
    </div>
    <!-- End Team Block -->
  </div>
</section>
<section class="bg-light">
  <div class="container">
    <header class="w-md-50 mx-auto text-center">
      <h1>替え玉がほしい</h1>
      <h5>替え玉</h5>
    </header>
    <div class="row">
      <div class="col-3 mb-5">
        <figure>
          <%= image_tag "practice_bootstrap/images/900x700/img1.png",class:"w-100  rounded-top",style:"height: 200px"%>
          <div class="bg-white u-box-shadow-sm text-center rounded p-4">
            <div class="mb-3">
              <h5 class="mb-1">Endou shouzou</h5>
              <small class="d-block font-style-normal text-primary text-uppercase u-letter-spacing-xs">ダイナマイト四国</small>
            </div>
          </div>
        </figure>
      </div>
      <div class="col-3 mb-5">
        <figure>
          <%= image_tag "practice_bootstrap/images/900x700/img1.png",class:"w-100  rounded-top",style:"height: 200px"%>
          <div class="bg-white u-box-shadow-sm text-center rounded p-4">
            <div class="mb-3">
              <h5 class="mb-1">Endou shouzou</h5>
              <small class="d-block font-style-normal text-primary text-uppercase u-letter-spacing-xs">ダイナマイト四国</small>
            </div>
          </div>
        </figure>
      </div>
      <div class="col-3 mb-5">
        <figure>
          <%= image_tag "practice_bootstrap/images/900x700/img1.png",class:"w-100  rounded-top",style:"height: 200px"%>
          <div class="bg-white u-box-shadow-sm text-center rounded p-4">
            <div class="mb-3">
              <h5 class="mb-1">Endou shouzou</h5>
              <small class="d-block font-style-normal text-primary text-uppercase u-letter-spacing-xs">ダイナマイト四国</small>
            </div>
          </div>
        </figure>
      </div>
      <div class="col-3 mb-5">
        <figure>
          <%= image_tag "practice_bootstrap/images/900x700/img1.png",class:"w-100  rounded-top",style:"height: 200px"%>
          <div class="bg-white u-box-shadow-sm text-center rounded p-4">
            <div class="mb-3">
              <h5 class="mb-1">Endou shouzou</h5>
              <small class="d-block font-style-normal text-primary text-uppercase u-letter-spacing-xs">ダイナマイト四国</small>
            </div>
          </div>
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="bg-light">
  <div class="container">
    <header class="mx-auto text-center">
      <h1>替え玉ほしい</h1>
      <p>替え玉があるうどん屋を探す</p>
    </header>
    <div class="row">
      <div class="col-3 mb-5">
        <figure>
          <%= image_tag "practice_bootstrap/images/900x700/img1.png",class:"w-100 rounded-top",style:"height: 200px" %>
          <div class="u-box-shadow-sm bg-white text-center rounded p-4">
            <div class="mb-3">
              <h5 class="mb-1">ENdou</h5>
              <small class="d-block text-primary text-uppercase u-letter-spacing-xs font-style-normal">ダイナマイト思考</small>
            </div>
          </div>
        </figure>
      </div>
    </div>
  </div>
</section>